// E X T R A   S M A L L
@media screen and (max-width: 300px) {
  .about-us-p {
    width: 75vw !important;
    padding: 0px 4px 0px 0px;
  }
}

/* Mobile View -small */
@media only screen and (max-width: 719px) {
  .about-us-p {
    width: 75vw !important;
    padding: 0px 4px 0px 0px;
  }
  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-us-car-mobile {
    height: 580px;
  }
  .about-us-car-ipad {
    display: none;
  }

  .about-us-car-large {
    display: none;
  }
}

/* Tablet View -medium */
@media only screen and (min-width: 720px) and (max-width: 989px) {
  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    margin-bottom: 50px;
  }
  .about-us-car-mobile {
    display: none;
  }
  .about-us-car-ipad {
    height: 580px;
  }

  .about-us-car-large {
    display: none;
  }

  .about-us-info-wrap {
    width: 35vw;
  }
  .about-us-p {
    width: 32vw !important;
  }
}

/* Desktop   V I E W -large */
@media only screen and (min-width: 990px) and (max-width: 1439px) {
  .aboutUsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-us-car-mobile {
    display: none;
  }
  .about-us-car-ipad {
    display: none;
  }

  .about-us-car-large {
    height: 580px;
  }

  .about-us-info-wrap {
    width: 35vw;
  }
}

/* 4 K   V I E W  -extralarge*/
@media only screen and (min-width: 1440px) {
  .about-us-info-wrap {
    max-width: 500px;
  }
}
// Mobile: Up to 719px
// Tablet: From 720 up to 989
// Desktop: From 990 up to 1439
// 4K: After 1440
.aboutUsContainer {
  margin-bottom: 50px;
}
.about-us-MainImage {
  width: 100vw !important;
  height: 896px;
  object-fit: cover;
  margin-top: 0;
}

.about-us-h1-info-wrap {
  color: white;
  height: 704px;
  width: 75vw;
  margin-top: -758px;
}

.about-us-h1-title {
  margin-bottom: 72px;
}

.aboutus-scrollbarSeparation {
  font-family: "Cabin";
  line-height: 150%;
}

.about-us-p {
  //   overflow: hidden;
  overflow-y: scroll;
  width: 436px;
  height: 436px;
}

.about-us-p::-webkit-scrollbar {
  width: 6px;
}

.about-us-p::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #f5f5f5;
}

.about-us-our-team {
  background-color: white;
  padding-top: 39px;
  padding-bottom: 79px;
  width: 75vw;
  height: 940px;
}

.aboutUsMainContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutUsSubtitle {
  color: #006039 !important;
  font-size: 26px;
}

.aboutUsLinkSalesR {
  text-decoration: none;
  color: #006039;
  cursor: pointer;
  transition: 0.2s;
}

.aboutUsLinkSalesR:hover {
  opacity: 70%;
}
