.carInventory {
  padding: $px-24 $px-24 $px-40;
  background-color: $bgnd-white;
  display: grid;
  grid-template-rows: auto $px-36 auto $px-44 auto;

  &_top {
    display: grid;
    grid-template-columns: 2fr 1fr;

    & h4 {
      font-family: $body-font;
      line-height: 1.5;
    }

    & p {
      font-size: $px-12;
    }

    &-right {
      text-align: right;
    }

    & > span {
      font-weight: bold;
    }
  }

  &_img {
    grid-row: 3/4;

    width: 70%;
    justify-self: center;

    & img {
      width: 100%;
    }
  }

  &_bottomContainer {
    grid-row: 5/6;

    display: grid;
    grid-template-rows: $px-28 auto $px-40 auto;
  }

  &_features {
    grid-row: 2/3;

    display: grid;
    grid-template-columns: 1fr auto 1fr auto 1fr;
    justify-items: center;

    &-feature {
      width: 100%;
    }

    &-divider {
      width: 1px;
      background-color: $lightIcon;
    }

    & p,
    span {
      text-align: center;
    }

    & span {
      display: block;
      font-size: $px-12;
    }
  }

  &_link {
    grid-row: 4/5;

    & button {
      padding: $px-8;
      font-family: $body-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.5;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      cursor: pointer;
    }
  }
}

.carInventory_listView {
  grid-template-rows: auto $px-12 auto;
  padding-bottom: $px-28;
  cursor: pointer;

  .carInventory_img {
    width: 30vw;
    justify-self: end;
  }
}

@media screen and (min-width: 720px) {
  .carInventory {
    padding: $px-32 $px-32 $px-44;
    grid-template-rows: auto $px-32 auto $px-40 auto;

    &_img {
      width: 60%;
      // width: 50%; Tentatively
    }
  }
}
