.homepage-container {
  margin-top: -78px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-mainImage {
  width: 100vw !important;
}

/* Mobile View -small */
@media only screen and (max-width: 719px) {
  .home-mainImage-m {
    display: none;
  }
  .home-mainImage-l {
    display: none;
  }
}

/* Tablet View -madium */
@media only screen and (min-width: 720px) and (max-width: 989px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage-l {
    display: none;
  }
}

/* Desktop   V I E W -large */
@media only screen and (min-width: 990px) and (max-width: 1439px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage-m {
    display: none;
  }

  .homeInventoryLink {
    display: none;
  }

  .homeForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exploreVehicles-box {
    background: white;
    height: 212.5px;
    width: 75vw;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .exploreVehicles-text {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Raleway";
  }

  .exploreInput {
    font-family: "Raleway";
    padding: 15px;
    border: 1px solid #cbd2e0;
    height: 60px;
    width: 310px;
  }

  #exploreSubmit {
    background: #006039;
    color: white;
  }

  .homeSingleBrand {
    background-color: #1e1e1a;
    width: 657px;
    height: 269px;
    color: white;
    text-align: center;
  }
}

/* 4 K   V I E W  -extralarge*/
@media only screen and (min-width: 1440px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage {
    width: 100vw !important;
  }
}
// Mobile: Up to 719px
// Tablet: From 720 up to 989
// Desktop: From 990 up to 1439
// 4K: After 1440
