.homepage-container {
  margin-top: -80px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-mainImage {
  width: 100vw !important;
}

/* Mobile View -small */
@media only screen and (max-width: 719px) {
  .home-mainImage-m {
    display: none;
  }
  .home-mainImage-l {
    display: none;
  }
}

/* Tablet View -madium */
@media only screen and (min-width: 720px) and (max-width: 989px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage-l {
    display: none;
  }
}

/* Desktop   V I E W -large */
@media only screen and (min-width: 990px) and (max-width: 1439px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage-m {
    display: none;
  }

  .homeInventoryLink {
    display: none;
  }

  .homeForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exploreVehicles {
    margin-top: -58px;
  }

  .exploreVehicles-box {
    background: white;
    height: 212.5px;
    width: 75vw;
    max-width: 1000px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .exploreVehicles-text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
  }

  .exploreInput {
    font-family: "Raleway";
    padding: 15px;
    border: 1px solid #cbd2e0;
    height: 60px;
    width: 310px;
  }

  .exploreInput {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    font-feature-settings: "calt" off;
    cursor: pointer;
  }

  #exploreSubmit {
    background: #006039;
    color: white;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
  }

  .homeBrowseByBrand {
    width: 684px;
    height: 280px;
    left: 377px;
    top: 1431px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .homeSingleBrand {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: white;
  }

  .homeBrandLogos {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .homeBrandLogos-singleLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 180px;
    height: 48px;
  }
  .homeBrandLogos-column {
    display: flex;
    flex-direction: column;
  }

  .homeBrandLogos-singleLogo-text {
    color: white;
    font-family: "Cabin";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .marketing-image {
    width: 100%;
    margin-top: 80px;
  }

  .home-marketingImage {
    width: 100%;
  }
}

/* 4 K   V I E W  -extralarge*/
@media only screen and (min-width: 1440px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage {
    width: 100vw !important;
  }
}
// Mobile: Up to 719px
// Tablet: From 720 up to 989
// Desktop: From 990 up to 1439
// 4K: After 1440
