.homepage-container {
  margin-top: -80px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-mainImage {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.bannerContainer {
  width: 100%;
}

.exploreVehicles {
  width: 100%;
  padding: 0 24px;
}

.exploreVehicles-text {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 24px;
  line-height: 125%;
  margin-bottom: 24px;
  text-align: center;
}

.exploreVehicles-input {
  padding-bottom: 64px;
}

.homeBrandLogos-singleLogo {
  cursor: pointer;
  margin: 12px 0px;
}

.homeBrandLogos-singleLogo-text {
  transition: 0.2s;
  margin-left: 10px;
}

.homeBrandLogos-singleLogo-text:hover {
  text-shadow: 0 0 4px #ffffff;
}

.singleBrandLogo {
  max-height: 48px;
  max-width: 48px;
}

#homeFindYoursButton {
  color: white;
  padding: 16px 0;
  background: $green;
}

.home-marketing-section {
  margin-bottom: 64px;
}

.marketing-text {
  color: white;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
}

.marketing-title-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-main-Title {
  margin-bottom: 10px;
}

.homeBrowseByBrand {
  color: white;
}

#homeSingleBrandLogoLast3 {
  border-bottom: none !important;
}

.home-mainText {
  color: white;
}

.home-marketing-section {
  display: grid;
  justify-items: center;
}

.marketing-image,
.marketing-text {
  grid-column: 1/2;
  grid-row: 1/2;
}

#exploreSubmit {
  transition: 0.3s;
}

#exploreSubmit:hover {
  opacity: 85%;
}

#homeFindYoursButton {
  transition: 0.3s;
}

#homeFindYoursButton:hover {
  box-shadow: 0 0 3px #eff1ed;
}

.home {
  &__select {
    position: relative;

    & select {
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      cursor: pointer;
    }

    & svg {
      position: absolute;
      right: 12px;
      top: 8px;
      color: $green;
    }
  }
}

/* Mobile View -small */
@media only screen and (max-width: 719px) {
  .home-mainImage-m {
    display: none;
  }
  .home-mainImage-l {
    display: none;
  }

  .home-marketingImage {
    height: 400px !important;
    width: 100vw !important;
    object-fit: cover !important;
  }

  .home-marketingImage-l {
    display: none;
  }
  .home-mainText {
    margin-top: 24px;
    padding: 0 24px;
  }
  .home-main-Title {
    max-width: 205px;
  }
  .home-main-Subtitle {
    width: 270px;
    margin-top: 8px;
  }

  #homeFindYoursButton {
    margin-top: 32px;
    cursor: pointer;
    width: 100%;
  }

  .exploreVehicles {
    color: white;
    margin-top: 56px;
  }

  .homeForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  #exploreVehicle {
    height: 40px;
    padding: 8px;
    font-size: 16px;
    line-height: 150%;
    border-radius: 8px;
  }

  #exploreBrand {
    height: 40px;
    padding: 8px;
    font-size: 16px;
    line-height: 150%;
    border-radius: 8px;
  }

  #exploreSubmit {
    color: white;
    padding: 16px 0;
    height: 50px;
    margin-top: 16px;
    cursor: pointer;
    background: #006039;
  }

  .homeSingleBrand {
    text-align: center;
    margin-bottom: 40px;
  }

  .home-marketing-button {
    width: 129.17px;
    height: 50px;
    background: #eff1ed;
    cursor: pointer;
  }

  .homeBrandLogos-singleLogo {
    display: flex;
    align-items: center;
    border-bottom: 1px solid white;
    width: 75vw;
    max-width: 241px;
    height: 70px;
  }

  #homeSingleBrandLogoLast2 {
    border-bottom: none !important;
  }

  .homeBrandLogos-singleLogo-logo {
    min-width: 48px;
  }

  .css-i4bv87-MuiSvgIcon-root {
    width: 1em !important;
    height: 1em !important;
  }

  .homeBrandLogos-column:nth-child(3) {
    display: none;
  }
}

/* Tablet View -medium */
@media only screen and (min-width: 720px) and (max-width: 989px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage-l {
    display: none;
  }
  .home-marketingImage-s {
    display: none;
  }

  .home-mainImage {
    height: 580px;
    width: 100vw !important;
    object-fit: cover;
  }

  .home-mainText {
    width: 75vw;
    margin-top: -355px;
  }

  .home-main-Title {
    width: 316px;
    margin-bottom: 8px;
  }

  .home-main-Subtitle {
    width: 316px;
    margin-bottom: 48px;
  }

  .bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 580px;
    margin-bottom: 64px;
  }

  .exploreVehicles {
    margin-bottom: 64px;
  }

  .exploreVehicles-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: white;
    text-align: center;
  }

  .exploreVehicles-input {
    margin-top: 32px;
  }

  .exploreInput {
    width: 180px;
    height: 44px;
    cursor: pointer;
  }
  .homeForm {
    display: flex;
  }

  #exploreSubmit {
    background: #006039;
    color: white;
  }

  .home-marketing-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-marketingImage {
    height: 400px;
    width: 100vw;
    object-fit: cover;
  }

  .marketing-text {
    margin-top: -400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 400px;
  }

  .home-marketing-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 176px;
    height: 50px;
    background-color: #eff1ed !important;
    cursor: pointer;
    margin-top: 96px;
    transition: 0.3s;
  }

  .home-marketing-button:hover {
    box-shadow: 0 0 4px #ffffff;
  }

  .homeBrowseByBrand {
    width: 75vw;
    height: 280px;
    left: 377px;
    top: 1431px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .homeSingleBrand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
  }

  .homeBrandLogos {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .homeBrandLogos-column {
    display: flex;
    flex-direction: column;
  }

  .homeBrandLogos-singleLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 180px;
    height: 48px;
  }

  .homeBrandLogos-singleLogo-logo {
    max-width: 40px !important;
    min-width: 40px !important;
    max-height: 40px !important;
  }
}

/* Desktop   V I E W -large */
@media only screen and (min-width: 990px) and (max-width: 1439px) {
  .bannerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .home-mainImage-s {
    display: none;
  }
  .home-mainImage-m {
    display: none;
  }

  .home-mainImage {
    height: 580px;
  }

  .home-mainText {
    width: 75vw;
    margin-top: -355px;
  }

  .home-main-Title {
    width: 316px;
    margin-bottom: 8px;
  }

  .home-main-Subtitle {
    width: 316px;
    margin-bottom: 48px;
  }

  #homeFindYoursButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 16px 24px;
    width: 327px;
    height: 50px;
    left: 24px;
    top: 186px;
    background: #006039;
  }

  .home-marketingImage-s {
    display: none;
  }

  .homeForm {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .exploreVehicles {
    margin-top: 50px;
  }

  .exploreVehicles-box {
    background: white;
    height: 212.5px;
    width: 75vw;
    max-width: 1040px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .exploreVehicles-text {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
  }

  .exploreInput {
    font-family: 'Raleway';
    padding: 15px;
    border: 1px solid #cbd2e0;
    height: 60px;
    width: 310px;
  }

  .exploreInput {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    font-feature-settings: 'calt' off;
    cursor: pointer;
  }

  #exploreSubmit {
    background: #006039;
    color: white;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 125%;
  }

  .homeBrowseByBrand {
    width: 684px;
    height: 280px;
    left: 377px;
    top: 1431px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .homeSingleBrand {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 125%;
    color: white;
  }

  .homeBrandLogos {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .homeBrandLogos-singleLogo {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 180px;
    height: 48px;
  }
  .homeBrandLogos-column {
    display: flex;
    flex-direction: column;
  }

  .homeBrandLogos-singleLogo-text {
    color: white;
    font-family: 'Cabin';
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .home-marketing-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .marketing-image {
    width: 100%;
    margin-top: 80px;
  }

  .marketing-text {
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home-marketingImage {
    width: 100%;
  }

  .marketing-title-and-text {
    width: 1040px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .home-marketing-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    width: 176px;
    height: 50px;
    background-color: #eff1ed !important;
    cursor: pointer;
    margin-top: 96px;
    transition: 0.3s;
  }

  .home-marketing-button:hover {
    box-shadow: 0 0 4px #ffffff;
  }

  #homeFindYoursButton {
    border: none !important;
  }

  .marketing-text {
    margin-top: -540px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 540px;
  }

  .home-marketingImage {
    height: 540px;
  }

  .home-marketing-section {
    margin-bottom: 0px;
  }
}

/* 4 K   V I E W  -extralarge*/
@media only screen and (min-width: 1440px) {
  .home-mainImage-s {
    display: none;
  }
  .home-mainImage {
    width: 100vw !important;
  }
}
// Mobile: Up to 719px
// Tablet: From 720 up to 989
// Desktop: From 990 up to 1439
// 4K: After 1440
