.inventory {
  &_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    // transition: all 0.5s ease-in-out;
    z-index: 1;
  }

  &_header {
    &-top {
      display: flex;
      align-items: center;
      padding: 24px;

      & h1 {
        flex: 1;
      }
    }

    &-bottom {
      display: flex;
      justify-content: space-between;
      padding: 0 24px 24px;

      & button {
        width: 140px;
        padding: $px-8 0;
      }
    }
  }

  &_filtersBtn {
    cursor: pointer;
  }

  &_viewIcons {
    display: flex;
    align-items: center;
    gap: 10px;

    & div {
      width: 1px;
      height: 20px;
      background-color: $lightIcon;
    }

    & svg {
      font-size: 29px;
      color: $lightIcon;
      cursor: pointer;
    }
  }

  &_hiddenBar {
    height: $px-8;
    background-color: $bgnd-lightgray;
    position: sticky;
    top: 0;
  }

  &_carsContainer {
    padding: $px-24;
    background-color: $bgnd-lightgray;

    display: grid;
    gap: $px-24;
  }
}

#activeLayout,
#inactiveLayout {
  color: black;
}
