.saleRepresentativeCard_li {
  border-top: 1px solid #c8c8c8;
  padding: $px-12 0px;
  font-family: $body-font;
}

.li_div--locationContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.saleRepresentativeCard_li:last-of-type {
  border-bottom: 1px solid #c8c8c8;
  margin-bottom: 50px;
}

// Location color and size
.saleRepresentativeCard_li_p {
  color: #5c5e62;
  display: inline-block;
  font-size: $px-20;
}

.saleRepresentativeCard_li_location {
  color: #5c5e62;
  padding-top: 5px;
}

// Icons arrow icon color
.saleRepresentativeCard_li_arrow {
  color: #5c5e62;
}

// Size of the Icons in the location description
.saleRepresentativeCard_ul_li .li_icon {
  margin-right: 5px;
  font-size: 14px;
}

.saleRepresentativeCard_div {
  padding: $px-12 0px;
  display: grid;
  grid-template-columns: 0.4fr 0.65fr;
  grid-template-rows: 0.8fr 0.2fr;
  align-items: center;
}

.saleRepresentativeCard_div_img {
  border-radius: 300px;
  width: 100%;
}

.saleRepresentativeCard_ul_li {
  font-family: $body-font;
  font-size: 11px;
  color: #5c5e62;
}

.saleRepresentativeCard_div_img_h4 {
  font-family: $heading-font;
  font-size: $px-20;
  font-weight: 600;
  margin-bottom: $px-8;
}

.saleRepresentativeCard_div--button {
  background-color: #006039;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: $px-20;
}

/********************************/
// Modal Window
/********************************/

.modalWindow_overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1400px;
  z-index: 2;
  display: flex;
  justify-content: center;

  align-items: flex-start;
}

.modalWindow_form {
  position: relative;
  background-color: white;
  margin-top: 10%;
  width: 95%;
  padding: 50px 6%;
  z-index: 3;
}

.form_div-closeContainer {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 35px;
}

.modalWindow_form_h1 {
  font-size: 30px;
  margin-bottom: 30px;
}

.modalWindow_form_h4 {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: $px-20;
}

.modalWindow_form_p--location {
  font-weight: 200;
}
.modalWindow_form_p--address {
  margin-bottom: $px-20;
}

.modalWindow_form_p--contatInformation {
  margin-bottom: 10px;
}

.modalWindow_form_input {
  width: 100%;
  border: #5c5e62 1px solid;
  height: 48px;
  padding-left: 20px;
  margin-bottom: 40px;
}

input:focus {
  outline: #006039 1px solid;
}

.modalWindow_form_div {
  width: 100%;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  padding: $px-20 0px;

  div {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 10px 0px;
  }
}

.form_div_h4 {
  margin-bottom: $px-20;
}

.form_div_checkBox {
  width: 35px;
  height: 35px;
  margin-right: $px-20;
  background-color: green;
}

#form_div_div--comment-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  label {
    margin-bottom: $px-20;
  }
}

.modalWindow_form_div textarea {
  display: block;
  width: 100%;
  border: #5c5e62 1px solid;
  font-family: $body-font;
  font-size: $px-16;
  padding: 10px;
  margin-bottom: $px-20;

  :focus-visible {
    outline: #006039 1px solid;
  }
}

.modalWindow_button {
  width: 100%;
}

/********************************/
// Confirmation Modal Window
/********************************/
.modal_confirmation {
  background-color: #006039;
  color: white;
  opacity: 0.95;
  position: absolute;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
  top: 15%;
  right: 0%;
  width: 80%;
  margin: 10px auto;
  height: 70px;
  display: flex;
  z-index: 2;
  align-items: center;
  box-shadow: -2px 4px 51px -32px rgba(0, 0, 0, 1) inset;
  -webkit-box-shadow: -2px 4px 51px -32px rgba(0, 0, 0, 1) inset;
  -moz-box-shadow: -2px 4px 51px -32px rgba(0, 0, 0, 1) inset;
  animation-name: popup;
  animation-duration: 4s;

  p {
    margin-left: 10px;
  }
}

@keyframes popup {
  0% {
    display: block;
  }
  50% {
    opacity: 0.9;
  }

  90% {
    opacity: 0.1;
  }
  100% {
    display: none;
  }
}

// Tablet view styles
@media screen and (min-width: 720px) {
  .saleRepresentativeCard_div {
    display: grid;
    grid-template-columns: 0.45fr 0.6fr;
    grid-template-rows: 0.8fr 0.2fr;
    justify-items: center;
  }

  .saleRepresentativeCard_div--picturesContainer {
    width: 60%;
    padding-right: 5%;
  }

  .saleRepresentativeCard_div--picturesContainer {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .saleRepresentativeCard_div_img {
    border-radius: 300px;
  }

  .saleRepresentativeCard_div--locationsContainer {
    width: 100%;
  }

  .saleRepresentativeCard_div_img_h4 {
    font-size: $px-24;
    margin-bottom: $px-8;
  }

  .saleRepresentativeCard_ul {
    display: flex;
    justify-content: space-between;
  }

  .saleRepresentativeCard_ul_li {
    font-size: 16px;
    padding-bottom: 10px;
  }

  .saleRepresentativeCard_div--button {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 20px;
    width: 100%;
  }

  // modal window
  .modalWindow_form {
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 80%;
    overflow: scroll;
  }

  .modalWindow_button {
    width: 30%;
  }
}

// notification disokay
.modal_confirmation {
  width: 40%;
  top: 8%;
}

//Laptop
@media screen and (min-width: 1200px) {
  .saleRepresentativeCard_li {
    display: block;
  }

  .saleRepresentativeCard_div {
    padding: $px-12 0px;
    display: grid;
    grid-template-columns: 0.4fr 0.65fr;
    grid-template-rows: 0.8fr 0.2fr;
    align-items: center;
  }

  .saleRepresentativeCard_ul {
    display: block;
  }

  .saleRepresentativeCard_div--picturesContainer {
    width: 90%;
    padding-right: 3%;
  }

  .saleRepresentativeCard_div_img_h4 {
    font-size: $px-16;
    font-weight: 600;
    margin-bottom: $px-8;
  }

  .saleRepresentativeCard_ul_li {
    font-family: $body-font;
    font-size: 14px;
    color: #5c5e62;
    padding-bottom: 5px;
  }

  .saleRepresentativeCard_div--button {
    background-color: #006039;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  // modal window
  .modalWindow_form {
    padding: 5% 10%;
  }

  .modalWindow_overlay {
    bottom: 0;
  }

  .modal_confirmation {
    width: 30%;
    top: 1.5;
  }
}

// E X T R A   S M A L L
@media screen and (max-width: 300px) {
  .home-mainText {
    width: 75vw;
  }

  .saleRepresentativeCard_div {
    flex-direction: column;
  }

  .saleRepresentativeCard_div--locationsContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .btn_green {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    height: 34px;
    cursor: pointer;
    transition: 0.3s;
  }

  .saleRepresentativeCard_div--button {
    margin-top: 0 !important;
  }

  .saleRepresentativeCard_div {
    display: flex !important;
  }
  .saleRepresentativeCard_div_img {
    max-width: 180px;
  }
}

// SALES REPRESENTATIVE SPECIAL MEDIA QUERY
@media screen and (min-width: 300px) and (max-width: 600px) {
  .saleRepresentativeCard_div--button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    margin-top: 0 !important;
  }
  .saleRepresentativeCard_div {
    max-width: 400px;
    justify-content: space-around;
    display: flex;
  }

  .saleRCardSeparator {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .saleRepresentativeCard_div_img {
    width: 30vw;
    height: unset;
    max-width: 160px;
  }

  .saleRepresentativeCard_div--locationsContainer {
    margin-left: 10px;
    align-items: unset;
  }
}

/* Mobile View -small */
@media only screen and (min-width: 600px) and (max-width: 719px) {
  .saleRepresentativeCard_div--picturesContainer {
    width: unset !important;
    padding: 0 !important;
    max-width: 140px;
  }

  .saleRepresentativeCard_div--locationsContainer {
    width: unset !important;
  }

  .saleRepresentativeCard_div {
    display: flex !important;
    width: 100%;
    justify-content: space-evenly;
  }

  .saleRepresentativeCard_div--button {
    margin-top: 0 !important;
    max-width: 400px;
    width: 75vw;
  }

  .saleRCardSeparator {
    align-items: center;
    width: 75vw;
    display: flex;
    flex-direction: column;
  }

  #sl,
  #rx,
  #la,
  #dv {
    display: flex;
    justify-content: center;
    width: 75vw;
  }
}

/* Tablet View -medium */
@media only screen and (min-width: 720px) and (max-width: 989px) {
  .saleRepresentativeCard_div_img {
    height: 170px;
    width: unset;
  }
  .saleRepresentativeCard_div {
    display: flex;
  }
  .saleRepresentativeCard_div--button {
    width: 60%;
    margin-top: -41px;
  }
  .saleRCardSeparator {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .saleRepresentativeCard_div {
    align-items: unset;
    padding: 12px 0px 0px 0px;
    gap: 20px;
    width: 100%;
  }

  .saleRepresentativeCard_div--picturesContainer {
    padding-right: 0;
    height: 170px;
  }
}

/* Desktop   V I E W -large */
@media only screen and (min-width: 990px) and (max-width: 1439px) {
  .saleRepresentativeCard_div_img {
    width: 120px;
  }

  .saleRepresentativeCard_div {
    justify-content: center;
  }

  .saleRepresentativeCard_div--picturesContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: unset;
    padding-right: 0;
    grid-row-start: unset;
    grid-row-end: unset;
  }

  .saleRepresentativeCard_div--locationsContainer {
    min-width: unset;
    margin-left: 20px;
  }

  .main_section_representatives {
    min-width: 320px;
    width: 24vw;
  }
}

/* 4 K   V I E W  -extralarge*/
@media only screen and (min-width: 1440px) {
}

.btn_green {
  font-family: $heading-font;
  background-color: #006039;
  width: 100%;
  padding: 10px 10px;
  color: white;
  cursor: pointer;
}

.saleRepresentativeCard_div--button {
  transition: 0.3s;
}

.saleRepresentativeCard_div--button:hover {
  opacity: 90%;
}
