$bgnd-color-darkgray: #222222;
$bgnd-color-lightgray: #f4f4f4;
$color-green: #006039;
$color-blue: #3a435e;
$color-orange: #ff8427;

// $font-thin
// $font-thinitalic
// $font-extralight
// $font-extralightitalic
// $font-light:
// $font-lightitalic:
// $font-regular:
// $font-regularitalic:
// $font-medium
// $font-mediumitalic
// $font-semibold
// $font-semibolditalic:
// $font-bold
// $font-bolditalic:
// $font-extrabold
// $font-extrabolditalic:
// $font-black:
// $font-blackitalic:
