$bgnd-color-darkgray: #222222;
$bgnd-color-lightgray: #f4f4f4;
$color-green: #006039;
$color-blue: #3a435e;
$color-orange: #ff8427;

// $font-thin
// $font-thinitalic
// $font-extralight
// $font-extralightitalic
// $font-light:
// $font-lightitalic:
// $font-regular:
// $font-regularitalic:
// $font-medium
// $font-mediumitalic
// $font-semibold
// $font-semibolditalic:
// $font-bold
// $font-bolditalic:
// $font-extrabold
// $font-extrabolditalic:
// $font-black:
// $font-blackitalic:

// SIZES
$px-4: 4px;
$px-8: 8px;
$px-12: 12px;
$px-16: 16px;
$px-20: 20px;
$px-24: 24px;
$px-28: 28px;
$px-32: 32px;
$px-36: 36px;
$px-40: 40px;
$px-44: 44px;
$px-48: 48px;
$px-52: 52px;
$px-56: 56px;
$px-60: 60px;
$px-64: 64px;
$px-68: 68px;
$px-72: 72px;
$px-76: 76px;
$px-80: 80px;
$px-84: 84px;
$px-88: 88px;
$px-92: 92px;
$px-96: 96px;
$px-100: 100px;
